@import url("fonts.css");
@import url("core.css");

.header {
  background-color: rgb(202, 0, 81);
  box-shadow: 0 3px 0 0 rgba(153, 0, 61, 0.8);
  padding: 10px 0;
}

.header__wrap {
  display: grid;
  grid-template-columns: 165px auto 165px;
  grid-template-rows: minmax(55px, auto);
  grid-column-gap: 10px;
  align-items: center;
}

.header__person a::before {
  content: "";
  display: block;
  width: 38px;
  height: 27px;
  background: url(../img/person.png) left center no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

.header__person a {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  line-height: 1.9;
  font-size: 18px;
  display: block;
  position: relative;
  padding: 5px 0 5px 42px;
}

.header__person {
  margin-left: 45px;
}

.header__person a:hover {
  text-decoration: underline;
}

.header__logo {
  justify-self: center;
  font-size: 0;
}

.header__email {
  justify-self: right;
  margin-right: 45px;
}

.header__email a {
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 38px;
  height: 28px;
}

@media (max-width: 990px) {
  .header__email {
    margin-right: 0;
  }

  .header__person {
    margin-left: 0;
  }
}

@media (max-width: 580px) {
  .header__wrap {
    grid-template-columns: 140px auto 140px;
    grid-column-gap: 5px;
  }

  .header__logo {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
  .header__email {
    grid-column: 3 / 4;
  }
}

/* ******************pictures *************** */

.pictures {
  display: grid;
  grid-template-areas:
    "img1 img2 img3 img4"
    "img1 img5 img5 img6";
}

.pictures a {
  font-size: 0;
  background-color: aquamarine;
}

.pictures__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
  align-self: strech;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}

@media (max-width: 990px) {
  .pictures {
    grid-template-areas:
      "img1 img2 img3"
      "img1 img5 img5"
      "img6 img4 img4";
  }
}

@media (max-width: 680px) {
  .pictures {
    grid-template-areas:
      "img2 img1"
      "img3 img1"
      "img5 img5"
      "img4 img6";
  }
}

@media (max-width: 480px) {
  .pictures {
    grid-template-areas:
      "img2 img1"
      "img3 img1"
      "img5 img5"
      "img4 img4"
      "img6 img6";
  }
}

/* ************************** user ****************************** */

.user {
  display: grid;
  grid-template-columns: minmax(290px, 690px) 270px;
}

.user__btn {
  justify-self: end;
  align-self: center;
}

.user__btn button {
  text-shadow: 1px 1px 2px black;
  font-size: 21px;
  line-height: 1.2;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
  width: 190px;
  color: #fff;
  border: none;
  justify-self: end;
  align-self: center;
  background-image: linear-gradient(
    90deg,
    rgb(202, 0, 81) 0%,
    rgb(223, 4, 92) 100%
  );
  box-shadow: 0 3px 0 0 rgba(148, 0, 59, 0.8);
}

.user__info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px 0 0;
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: 135px 1fr;
  border-right: #d4d4d4 1px solid;
  grid-column-gap: 20px;
}

.profile__img a {
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
}

.profile__img img {
  display: block;
  padding: 5px;
  box-sizing: border-box;
  max-width: 100%;
}

.profile__name {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.2;
  color: rgb(64, 64, 64);
  font-weight: 900;
}

.profile__desc {
  font-size: 13px;
  line-height: 1.2;
  color: rgb(127, 127, 127);
  max-width: 420px;
}
.profile__info p {
  margin: 12px 0;
}

.profile__btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  justify-content: start;
  font-size: 15px;
}

.profile__button {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  color: rgb(202, 0, 81);
  line-height: 1.2;
  padding: 10px;
  border: 1px rgb(212, 212, 212) solid;
  margin-left: -1px;
}

@media (max-width: 680px) {
  .user {
    grid-template-columns: auto;
  }

  .user__info {
    padding-right: 0;
    border-right: none;
  }

  .user__btn {
    justify-self: center;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .user__info {
    grid-template-columns: auto;
  }
  .profile__img {
    justify-self: center;
  }
}

/* ***************************gallery*************************** */

.gallery {
  background-image: url("../img/layer.jpg");
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 1px;
}

.gallery__date {
  text-align: center;
  grid-column: 1 / -1;
}

.gallery__date a {
  font-size: 17px;
  color: rgb(137, 137, 137);
  line-height: 1.2;
  text-decoration: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(6, 6, 6, 0.2);
  width: 170px;
  display: block;
  padding: 10px 0;
  margin: 30px auto 25px;
}

.gallery__block > a {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
  display: inline-block;
}

.gallery__block > a img {
  box-sizing: border-box;
  padding: 5px;
  background-color: #fff;
  width: 100%;
  display: block;
  border-radius: 5px;
}

.gallery__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, auto));
  grid-gap: 20px;
  align-content: space-between;
}

.gallery__loading {
  text-align: center;
  margin: 30px 0 15px;
  position: relative;
  padding-top: 35px;
}

.gallery__loading a {
  font-size: 15px;
  line-height: 1.2;
  color: rgb(127, 127, 127);
  text-decoration: none;
}

.gallery__loading a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9b9b9b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.gallery__loading a::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c1c1c1;
  position: absolute;
  left: calc(50% - 30px);
  transform: translateX(-50%);
  top: 0;
}

.gallery__loading span::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #616161;
  position: absolute;
  left: calc(50% + 30px);
  transform: translateX(-50%);
  top: 0;
}

.footer {
  margin-top: -2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  border-top: 2px solid #ababab;
}

.footer p {
  font-size: 13px;
  line-height: 1.2;
  color: rgb(97, 97, 97);
  margin: 25px 0;
}

.footer__right {
  text-align: right;
}

.footer__menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, auto));
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 25px 0;
  justify-self: start;
}

.footer__menu li {
  padding: 0 8px;
}

.footer__menu a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(97, 97, 97);
  font-size: 13px;
}

.footer__menu a:hover {
  text-decoration: underline;
}

.footer__menu li:not(.footer__menu li:last-of-type) {
  border-right: 1px solid rgb(97, 97, 97);
}

.footer__menu li:first-of-type {
  padding-left: 0;
}

@media (max-width: 680px) {
  .footer {
    grid-template-columns: auto;
  }

  .footer__menu {
    justify-self: stretch;
  }

  .footer p {
    text-align: center;
  }
}
